<!-- <ion-side-menu-content style="background: #E8E8E8;"> -->

<ion-view view-title="" hide-nav-bar="false" style="">
 <ion-content id="rns_page" scroll="false">

<ion-content style="background-color: #E8E8E8;">
<!--
<ion-header-bar class="ed-header"  style="background: none;">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-header-bar>
-->


<!--Holds section contents-->
<div>
    <button class="button exitbutton" ng-click="exit()">
        <span class="ion-ios-close-empty" style="color: #fff;"></span>
    </button>
</div>

<img src="img/pic1.png">

<div class="row">
    <div class="col ed-center ed-intro-text">
        <h3>Welcome</h3>
        <p>Minimize the hassle of falling in line in Business Centers with Meralco's Move 2.0 app.</p>

    </div>
</div>
<div class="row">
    <!-- <button class="button icon-right ion-arrow-right-c applynewservice" style="width: 100%;">
        Apply now!
    </button> -->
    <div class="col" style="text-align: center; background-color: #E8E8E8; padding: 40px 20px 60px 20px;">
        <a class="applynewservice" href="#/app/apply_newrequest">APPLY NOW
        <i class="icon ion-arrow-right-c"></i></a>

        <p style="text-align: center; position: relative;  top: 30px;  color: #868686;  font-size: 11px; line-height: 15px;">Terms and conditions apply.<br />See www.meralco.com.ph for more info.</p>
    </div>
</div>

</ion-content>
<!-- </ion-side-menu-content> -->
