<!-- <form name="login_form" id="login_form">
<div class="modal" id = "login_page">
	<ion-content has-header="true" class = "login_content" id="login_page" has-bouncing="true">

	<div style="position: relative;" id="login_page">
		<div class = "login_form">
			<div style="height: 30%;">
				<img id="Meralco_Logo" src="images/Meralco-logo.png">
			</div>
			<div style="position: relative; padding-top: 7%; height: 30%;">
				<input id="account_name_user" class = "login_field" name = "username" ng-model="login.username" placeholder="Account Name" type="text" required=""/><br>
				<input id="password_user" class = "login_field" name = "password" ng-model="login.password" placeholder="Password" type="password" required=""/>
			</div>
			<div style="height: 10%; width: 100%; padding-top: 5%;">
				<input type="submit" id="login_btn" class="button button-block button-Meralco" ng-click="submitLogin(login_form)" value="Login"></input>
			</div>
			<div style="padding-top: 10%;">
					<a style="color: #FFF; text-decoration: underline;" ng-click = "loginOffline()">Offline Mode</a>
			</div>
			<div style="padding-top: 10%;">
					<a style="color: #FFF; text-decoration: underline;">Create a new Account</a>
			</div>
		</div>
	</div>
	</ion-content>
</div>
</form> -->


<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="Logout()" >Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="loginOffline();" ng-controller="LoginController">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
