<!-- <ion-content class="has-header"> -->

<ion-view view-title="" style="background:url('../img/header-bg.png') top left;">

    <!--<ion-header-bar id="1" class="ed-header" style="background:url('../img/header-bg.png') top left;">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-header-bar>-->


    <ion-content id="ed-login">
        <div class="row" id="ed-logo">
            <!--Holds Logo-->
            <div class="col">
                <img src="img/move-logo.png">
            </div>
        </div>

        <div id="e-services">
            <!--Holds dashboard links-->
            <div class="col col-80 col-offset-10">
                <form>
                    <div class="list">
                        <ul>
                            <li>
                                <span><i class="ion ion-card"></i></span>
                                <a href="#">E-Bills and Payments</a>
                            </li>
                            <li>
                                <span><i class="ion ion-ios-calculator"></i></span>
                                <a href="#">Usage Calculator</a>
                            </li>
                            <li>
                                <span></span>
                                    <button style="color:white;text-transform:uppercase;text-align:left; font-family:'Montserrat', sans-serif;font-size:18px" class="mainbutton ion ion-ios-bolt" ng-controller="MainCtrl" ng-click="submitForm()">
                                        <span>

                                            Request New Service

                                        </span>
                                    </button>
                                
                            </li>
                        </ul>
                    </div>

                </form>
            </div><!--/List Card-->
        </div>

        <div id="efeed" style="">
            <!--Holds login and register links-->
            <div class="">
                <form>
                    <div class="logindashboard ed-center">
                        <div class="row" style="padding: 0;">
                            <div class="col">
                                <button class="button button-block loginbtn2" ng-controller="LoginController" ng-click="submitForm()"  type="submit">Login</button>
                            </div>
                            <div class="col">
                                <button class="button button-block registerbtn" type="submit">Register</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="outage-info">
                <div class="row">
                    <div class="col col-10">
                        <div><span><i class="ion ion-android-alert"></i></span></div>
                    </div>
                    <div class="col col-20">
                        <div class="info-title">OUTAGE INFO</div>
                    </div>
                    <div class="col col-70">
                        <div>
                            <div class="info-date">July 01, 2015</div>
                            <div class="info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
<!-- <ion-content> -->
