<!-- <ion-content class="has-header"> -->

<ion-view view-title="" style="" hide-nav-bar="!userLoggedIn();">
  <ion-nav-bar class="">
    <ion-nav-buttons side="left">
     <button menu-toggle="left" name="head" style="display:inline !important " class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content id="ed-login">


        <div class="row" id="ed-logo">
            <!--Holds Logo-->
            <div class="col">
                <img src="img/Move-logo.png">
            </div>
        </div>

        <div id="e-services">
            <!--Holds dashboard links-->
            <div class="col col-80 col-offset-10">
                <form>
                    <div class="list">
                        <ul>
                            <li>
                                <button class="mainbutton" ng-controller="MainCtrl" ng-click="submitForm()">
                                    <span class="ion ion-card"></span>
                                    <span style="padding-left: 10px;">E-bills &amp; Payments</span>
                                </button>
                            </li>
                            <li>
                                <button class="mainbutton" ng-controller="MainCtrl" ng-click="submitForm()">
                                    <span class="ion ion-calculator"></span>
                                    <span style="padding-left: 10px;">Usage Calculator</span>
                                </button>
                            </li>
                            <li>
                                <button class="mainbutton" ng-controller="MainCtrl" ng-click="submitForm()">
                                    <span class="ion ion-android-add-circle"></span>
                                    <span style="padding-left: 10px;">Request New Service</span>
                                </button>
                            </li>
                        </ul>
                    </div>

                </form>
            </div><!--/List Card-->
        </div>

        <div id="efeed" style="">
            <!--Holds login and register links-->
            <div class="" data-ng-hide="userLoggedIn()">
                <form>
                    <div class="logindashboard ed-center">
                        <div class="row" style="padding: 0;">
                            <div class="col">
                                <button class="button button-block loginbtn2" ng-controller="LoginController" ng-click="submitForm()"  type="submit">Login</button>
                            </div>
                            <div class="col">
                                <button class="button button-block registerbtn" ng-controller="RegistrationController" ng-click="register();">Register</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="outage-info">
                <div class="row">
                    <div class="col col-10">
                        <div><span><i class="ion ion-android-alert"></i></span></div>
                    </div>
                    <div class="col col-20">
                        <div class="info-title">OUTAGE INFO</div>
                    </div>
                    <div class="col col-70">
                        <div>
                            <div class="info-date">July 01, 2015</div>
                            <div class="info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
<!-- <ion-content> -->
