<ion-side-menus>
  <ion-side-menu-content>
    <!-- <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left" class="ed-menu-left">

      <ion-header-bar class="bar-dark">
          <div ng-app="mytitle">{{xxx}}</div>
          <!--<h1 class="title">sidebar titile</h1>-->
      </ion-header-bar>

      <ion-content>
          <div class="list">
              <!--MY ACCOUNT-->
              <a menu-close class="item item-divider" href="#">
                  <!-- <i class="icon ion-email"></i> -->
                  MY ACCOUNT
              </a>

              <a menu-close class="item item-icon-left item-icon-right" href="#">
                  <i class="icon ion-ios-paper-outline"></i>
                  E-Bills and Payment
                  <i class="icon ion-ios-telephone-outline"></i>
              </a>

              <a menu-close class="item item-icon-left" href="#">
                  <i class="icon ion-ios-person-outline"></i>
                  Account info
              </a>
              <a menu-close class="item item-icon-left" href="#">
                  <i class="icon ion-card"></i>
                  Payment info
              </a>
              <a menu-close class="item item-icon-left" href="#">
                  <i class="icon ion-ios-barcode-outline"></i>
                  Consumption
              </a>
              <a menu-close class="item item-icon-left" href="#">
                  <i class="icon ion-ios-barcode-outline"></i>
                  Service Application Info
              </a>

              <!--TOOLS-->
              <a menu-close class="item item-divider" href="#">
                  <!-- <i class="icon ion-person-stalker"></i> -->
                  TOOLS
              </a>
              <a menu-close class="item item-icon-left" href="#">
                  <i class="icon ion-ios-calculator-outline"></i>
                  Usage Calculator
              </a>
              <a menu-close class="item item-icon-left" href="#">
                  <i class="icon ion-ios-settings"></i>
                  Control my home
              </a>

              <!--ADVISORY-->
              <a menu-close class="item item-divider" href="#">
                  <!-- <i class="icon ion-person-stalker"></i> -->
                  ADVISORY
              </a>
              <a menu-close class="item item-icon-left" href="#">
                  <i class="icon ion-ios-bolt-outline"></i>
                  Outage info
              </a>

              <!--NEW SERVICE REQUEST-->
              <a menu-close class="item item-divider" href="#/app/intro_newrequest">
                  <!-- <i class="icon ion-person-stalker"></i> -->
                  NEW SERVICE REQUEST
              </a>

              <!--CUSTOMER SERVICE-->
              <a menu-close class="item item-divider" href="#">
                  <!-- <i class="icon ion-person-stalker"></i> -->
                  CUSTOMER SERVICE
              </a>
              <a menu-close class="item item-icon-left" href="#">
                  <i class="icon ion-ios-telephone"></i>
                  Contact us
              </a>


              </div>

      </ion-content>
  </ion-side-menu>




  <!--<ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
-->
</ion-side-menus>
