<!-- <ion-content class="has-header"> -->

<ion-view view-title="">
  <ion-header-bar class="ed-header" style="background: none;"><!--Holds Page header-->
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <!-- <h1 class="title"></h1> -->
  </ion-header-bar>



  <ion-list>

    <div style="margin-top:50px;text-align:center"><h2>Meralco 2.0</h2></div>

    <!-- <ion-item> -->
      <div class="list card" style="margin-left:50px;">
        <a href="#" class="item item-icon-left">
          <i class="icon ion-clipboard"></i>
            E-BILL & E-PAYMENT
        </a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-calculator"></i>
            USAGE CALCULATOR
        </a>
        <a href="#" class="item item-icon-left">
            <i class="icon ion-forward"></i>
            REQUEST NEW SERVICE
        </a>
      </div>
    <!-- </ion-item> -->
    <div class="buttons" style="margin-top:50px;text-align:center">
      <button class="button" style="width:150px;border-radius: 17px;-moz-border-radius: 17px;-webkit-border-radius: 17px;border: 1px solid #000000;" ng-controller="LoginController" ng-click=LoginShow();> Login </button>
      <button class="button" style="width:150px;border-radius: 17px;-moz-border-radius: 17px;-webkit-border-radius: 17px;border: 1px solid #000000;"> Register </button>
    </div>

    <div class="" style="margin-top:50px;text-align:left">
      <h4>Outage Info: <h4>
    </div>


  </ion-list>
</ion-view>
<!-- <ion-content> -->
