<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--Custom by Edwin Lacap-->
    <link href="css/movecustom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Exo+2:400,300,100' rel='stylesheet' type='text/css'>

    <!--/Custom by Edwin Lacap-->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
<body ng-app="starter">

<ion-side-menus>

    <!-- Center content --><!--Major container that holds the entire content-->
    <ion-side-menu-content style="background: #E8E8E8;">
        

        <ion-content>
        <ion-header-bar class="ed-header" style="background: none;"><!--Holds Page header-->
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title"></h1>
        </ion-header-bar>
            

        <div class=""><!--Holds section contents-->
            <ion-slide-box>
                <ion-slide><img src="img/pic1.png"></ion-slide>
                <ion-slide><img src="img/pic2.png"></ion-slide>
            </ion-slide-box>
        </div>
        <div class="row">
            <div class="col ed-center ed-intro-text">
                <h3>Welcome</h3>
                <p>Minimize the hassle of falling in line in Business Centers with Meralco's Move 2.0 app.</p>
                
            </div>
        </div>
        <div class="row">
            <!-- <button class="button icon-right ion-arrow-right-c applynewservice" style="width: 100%;">
                Apply now!
            </button> -->
            <div class="col" style="text-align: center; background-color: #E8E8E8; padding: 20px;">
                <a class="applynewservice" href="request-new-service-intro_step1.html">APPLY NOW
                <i class="icon ion-arrow-right-c"></i></a>

            </div>

        </div>
        <p style="text-align: center; position: relative;  top: 20px;  color: #868686;  font-size: 11px; line-height: 15px;">Terms and conditions apply.<br />See www.meralco.com.ph for more info.</p>
               
        </ion-content>

    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="ed-menu-left">
        <ion-header-bar class="bar-dark">
            <h3 class="title">Edwin Lacap</h3>
        <!-- <h1 class="title">sidebar titile</h1> -->
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <!--MY ACCOUNT-->
                <a class="item item-divider" href="#">
                    <!-- <i class="icon ion-email"></i> -->
                    MY ACCOUNT
                </a>

                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-ios-paper-outline"></i>
                    E-Bills and Payment
                    <i class="icon ion-ios-telephone-outline"></i>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-person-outline"></i>
                    Account info
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-card"></i>
                    Payment info
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-barcode-outline"></i>
                    Consumption
                </a>

                <!--TOOLS-->
                <a class="item item-divider" href="#">
                    <!-- <i class="icon ion-person-stalker"></i> -->
                    TOOLS
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-calculator-outline"></i>
                    Usage Calculator
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-settings"></i>
                    Control my home
                </a>

                <!--ADVISORY-->
                <a class="item item-divider" href="request-new-service-intro.html">
                    <!-- <i class="icon ion-person-stalker"></i> -->
                    ADVISORY
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-bolt-outline"></i>
                    Outage info
                </a>

                <!--NEW SERVICE REQUEST-->
                <a class="item item-divider" href="#">
                    <!-- <i class="icon ion-person-stalker"></i> -->
                    NEW SERVICE REQUEST
                </a>

                <!--CUSTOMER SERVICE-->
                <a class="item item-divider" href="#">
                    <!-- <i class="icon ion-person-stalker"></i> -->
                    CUSTOMER SERVICE
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-telephone"></i>
                    Contact us
                </a>


                </div>

        </ion-content>
    </ion-side-menu>

</ion-side-menus>

</body>
</html>
