/* Empty. Add your own CSS if you like */

body {
	background: #F3F3F3 !important;
}

.ed-intro {
	color: #909090;
	font-family: 'Exo 2', sans-serif;
}
.ed-intro, .ed-intro h1, .ed-intro h2, .ed-intro h3, .ed-intro h4, .ed-intro h5, .ed-intro h6 {
	color: #5c5c5c;
	 font-weight: 300;
}

h4.ed-guide {
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

/* STYLE GUIDE v1 */



/*CONTENT*/


/*Header*/


.ed-header {
	background: url('../img/header-bg.png') top left;
}

	.ed-header h1.title {
		color: #ccc;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #ccc;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
	}

.ed-header2 {
	background: #d5d5d5;
}

	.ed-header2 h1.title {
		color: #fe7214;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}	

	.ed-header2 i {
		font-size: 10px;
	}

	.ed-header2 .button.button-icon {
		font-size: 14px;
  		text-transform: uppercase;
  		color: #6B6B6B;
	}




.ed-body {
	padding:20px;

	
}

/*Login*/

#ed-login {
	background: #fe6f0f url('../img/loginbg.jpg') 50% -20px no-repeat;
	background-size: cover;
}

	#ed-login .item-input, #ed-login .item-input input, #ed-login label.item {
		background: none !important;
		border: none;
		color: #fff !important;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		/*font-size: 18px;*/
		
	}

		#ed-login label.item-input {
			border-bottom: 1px solid rgb(247, 146, 78);
		}

	#ed-login ::-webkit-input-placeholder {	color: #fff;}
	#ed-login :-moz-placeholder { /* Firefox 18- */ color: #fff; }
	#ed-login ::-moz-placeholder {  /* Firefox 19+ */ color: #fff; }
	#ed-login :-ms-input-placeholder { color: #fff; }
	#ed-login .item .item-input input { color: #fff; }

	#ed-login #ed-logo {
		text-align: center;
		height: 40vh;
		padding-top:80px;
		padding-bottom: 20px;
	}

	#ed-login #ed-logo img {
		width: 50vh;
	}

	#ed-login #loginform {
		height: 55vh;
	}

	#ed-login button.loginbutton {
		height: 61px;
		font-family: 'Montserrat', sans-serif;
  		font-size: 18px;
		background: rgb(169, 77, 20);
		text-transform: uppercase;
		color: #FDEBB4;
		border: none;

		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-top: 30px;
		margin-bottom: 5px;
	}

		#ed-login button.loginbutton i {
			margin-left: 10px;
		}

		#ed-login h3, #ed-login h4 {
			font-family: 'Montserrat', sans-serif;
		}

		#ed-login h3, #ed-login h3 a { /*Create and account*/
			font-size: 17px;
			color: rgb(255, 222, 118);
			text-transform: uppercase;
			margin-top: 30px;
			text-decoration: none;
		}

		#ed-login h4, #ed-login h4 a { /*Forgot password*/
			font-size: 14px;
			color: #FFE4D2;
			margin-top: 0;
			text-decoration: none;
		}

		#ed-login a:active {
			position: relative;
			top: 2px;
		}

/*Dashboard*/

#e-services {
	margin-top: -40px;
	margin-bottom: 15px;
}

#e-services ul li	{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 8px;
	text-align: left;

}

	#e-services ul li a {
		color: #fff;
		text-decoration: none;		
	}

	#e-services i {
		  margin-right: 10px;
  font-size: 20px;
  /* background-color: black; */
  padding: 13px;
  width: 43px;

  vertical-align: middle;
  height: 43px;
/*  border-radius: 21px;
    border: 1px solid #fff;*/
  text-align: center;	
	}

.logindashboard {
	padding: 0 10%;
}
.logindashboard button.loginbtn2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	background: none;
	/*border: 1px solid #fff;*/
	padding: 8 13px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #F29739;
	border-color: #FFDDB9;
}

.logindashboard button.registerbtn {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background: none;
	border: none;
	padding: 8 13px;
	color: #FFB770;
}

#efeed {
	position: absolute; background: #3F332C; width: 100%;
	margin-top: 25px;
	color: #fff;
}

#efeed .outage-info {
	padding: 10px 0;
	border-top: 1px solid #5A473B;
	font-family: 'Montserrat', sans-serif;
}

	#efeed .outage-info i {
		font-size: 22px;
		color: #CDCDCD;
	}

	#efeed .outage-info .info-date {
		text-transform: uppercase;
		font-size: 12px;
		color: #6C6763;
	}

	#efeed .outage-info .info-title {
		color: #CDCDCD;
	}

	#efeed .outage-info .info-desc {
		color: #CFCFCF;
		margin-top: 10px;
	}

	  

/*Step 1*/

.ed-steps {}
.ed-steps a i.icon {
	color: #999;
	font-size: 22px;
}

.ed-steps a i.icon small {font-size: 13px;}

	.ed-steps ::-webkit-input-placeholder {	color: #333; font-size: 17px;}
	.ed-steps :-moz-placeholder { /* Firefox 18- */ color: #333; font-size: 17px;}
	.ed-steps ::-moz-placeholder {  /* Firefox 19+ */ color: #333; font-size: 17px;}
	.ed-steps :-ms-input-placeholder { color: #333; font-size: 17px;}
	.ed-steps .item .item-input input { color: #333; font-size: 17px;}

h3.ed-section-title {
	    margin: 10px;
	    margin-bottom: -7px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: bold;
  color: #545454;
  text-align: center;
  padding-top:50px;
}

.ed-steps h4 {
	  font-size: 13px;
  text-transform: uppercase;
  color: #bababa;
  padding: 0 15px;
  margin: 20px 0 -12px 0;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.ed-note p {color: #666;}

/*Security note*/
.ed-secured {
	  position: relative;
	  color: #a7a7a7;
	  line-height: 15px;
	  clear: both;
	  padding: 20px;
}
	.ed-secured p {
		padding: 0 20px;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	}

	.ed-secured img {
		width: 35px;
		text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
	}

	.ed-secured i.icon {
		font-size: 20px;
		padding: 0 10px 10px 0;
	}

.ed-intro-text {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;
	  margin-top: -212px;
  z-index: 1000;
}

.ed-intro-text h3 {
	font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  color: #FFF;
}
.ed-intro-text p {
	color: #FFF;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
}	

a.applynewservice {
	  width: 100%;
  background-color: #FFF8F4;
  color: #f5742c;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  border: none;

  padding: 12px 78px;
  font-weight: bold;
  text-decoration: none;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 39px;
  border: 2px solid #fff;
  /* width: 100%; */
  /* margin-top: 50px; */
  position: relative;
  top: 20px;
}	

/*SIDE MENU*/
.ed-menu-left {
	background: url('../img/left-menu-bg.jpg') top right;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
  	line-height: 19px;
  	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
}

	.ed-menu-left i.icon {
		font-size: 17px;
		color: #fff;
	}

	.ed-menu-left a.item {
		  background: none;
	  font-size: 13px;
	  border: none;
	  border-bottom: 1px solid #3A3636;
	}

		.ed-menu-left a.item:last-child {
			border-bottom: none;
		}


	.ed-menu-left a.item.item-divider {
		background: #242323;
		opacity: 0.4;
	}

	.ed-menu-left h3.title {
		  font-size: 13px;
/*  line-height: 18px;*/
  color: #fff;
  float: none;
  text-align: center;
	}

	.ed-menu-left a.ed-logout {
		font-size: 12px;
		color: #fff;
		text-align: center;
		float: none;
		clear: both;
		display: block;
	}





/*FOOTER*/

.bar-footer {
	height: 55px;
}

.ed-footer button {
	text-transform: uppercase;
	color: #f5742c;
	background: none;
	border: none;

}

	.ed-footer button.button {
		font-size: 18px;
		letter-spacing: 1px;
	}


/*UTILITY*/
.ed-center {
	text-align: center !important;
}

.slider{
  position: absolute !important;
  top: 0 ;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-pager {
    top: initial;
}

.mainbutton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:#fff;
}
	
}







