<div class="row">
  <div class="col col-center" style = "width:70%">
  	<div class = "cardTitle">CONSUMPTION</div>
  	<div class = "cardContent" style = "height:100%;">
  		<div class = "consumptionVal" id = "consumptionVal"><ion-spinner icon="android" class = "cardSpinner"></ion-spinner></div>
  		<div class = "consumptionMon" id = "consumptionMon"></div>
  	</div>
  	<a href = "#/my_consumption"><div class = "cardButton button button-clear cardButton">VIEW MORE</div></a>
  </div>
  <div class="col" style = "margin-top:-6px;margin-bottom:-12px;margin-right:-6px;margin-left:-6px;padding:0px;width:30%"><image src = "images/dashboard/meralco-meter.jpg" style = "width:100%;"></div>
</div>