<div class = "row">
	<div class = "col">
	  	<div class = "cardTitle">MONTHLY BILL</div>
	  	<div class = "paymentStatus" style = "text-align:right" id = "payStatus">PAID</div>
	  	<div class = "paymentDate" style = "text-align:right" id = "payMonth">July 2015</div>
	  	<div class = "paymentCost" style = "text-align:right" id = "payCost">P 3,201.75</div>
	  	<div class = "paymentLast" style = "text-align:right" id = "payLoc">BF Homes, Paranaque City</div>
	  	<div class = "cardButton button button-clear cardButton">PAY NOW</div>
  	</div>
</div>
