<!-- <div class = "service_card">
	<div class = "serviceCardContent row">
		<div class = "cardTitleService">Service Application</div>
		<div class = "cardTitle">NEW SERVICES</div>
		<div class = "col serviceCardText">
		Electrification<br>
		Kuryente Load<br>
		more...
		</div>
	<a href = "#/r_new_service"><div class = "cardButton button button-clear cardButtonRight">APPLY NOW</div></a>
	</div>
</div>-->

  <div class="item item-avatar" style = "background-color:transparent; color: white;">
    <img src="images/dashboard/meralco-avatar.png">
    <h2 style = "color:white;">Service Applications</h2>
    <p style = "color:white;">Apply for new services</p>
  </div>

  <div class="item item-image" style = "background-color:transparent;">
    <img src="images/dashboard/meralco-building.png">
  </div>

  <a class="item item-icon-left" href="#/request_new_service" style = "background-color:transparent">
    <i class="icon ion-document-text" style = "color:white;"></i>
    Apply Now
  </a>
